/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

  body {
    line-height: 1;
    background-image: url("./components/images/beverage-break-coffee-935872.jpg");
    background-size: cover;
    border-image-repeat: no-repeat;
  }

  .tab-menu{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 200px;
    height: 100px;
  }

  .sc-ifAKCX-dOQaaE{
    display: flex;
    align-items: center;
  }



  .tabpage{
    color: hotpink;
    width: 1500px;
  }

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.App {
  max-width: 1000px;
  margin: 10px auto;
  padding: 10px auto;
}

h1 {
  margin: 15px auto;
  padding: 15px auto;
  width: 500px;
  height: 350px;
  font-size: 30px;
  color: red;
  font-weight: bold;
}
h2 {
  margin: 15px auto;
  padding: 15px auto;
  font-size: 30px;
  color: #3b3b89;
  font-weight: bold;
}
label {
  margin: 50px auto;
  padding: 15px auto;
  font-size: 30px;
  color: #3b3b89;
  font-style: italic;
  font-weight: bold;
}
p {
  margin: 15px auto;
  padding: 15px auto;
  font-size: 30px;
  color: #3b3b89;
  font-weight: bold;
}

form {
  margin: 15px 15px 15px 15px;
  padding: 15px 15px 15px 15px;
  text-align: center;
}
button {
  width: 200px;
  margin: 0px 15px 0px 15px;
  padding: 10px 15px 15px 15px;
  color: grey;
  font-weight: bold;
  background: #3b3b89;
  border-radius: 25%;
  font-size: 25px;
  height: 50px;
  text-align: center;
}
